CREATE USER YOUR_USER_HERE WITH ENCRYPTED PASSWORD 'YOUR_PASSWORD_HERE';
CREATE DATABASE YOUR_DATABASE_NAME_HERE;
GRANT ALL PRIVILEGES ON DATABASE YOUR_DATABASE_NAME_HERE TO YOUR_USER_HERE;
ALTER DATABASE YOUR_DATABASE_NAME_HERE OWNER TO YOUR_USER_HERE;